<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SB | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../template/images/favicon.png" class="favicon"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../template/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../template/css/main.css" />

</head>
<body>
  <header class="fixed-header clearfix">

    <div class="clearfix">
      <a href="../html/index.html">
      <img src="../images/favicon.png" alt="silverlinebandLogo" title="logo" class="logo">
      </a>
    </div>

    <p class="sitename">
      silverline-band
    </p>

    <nav class="main-nav clearfix">
      <ul class="clearfix">
        <li><a href="#">about us</a></li>
        <li><a href="#">corporate philosophy</a></li>
        <li><a href="#">our services</a></li>
        <li><a href="#">news and media</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">contact us</a></li>
      </ul>
    </nav>

        <nav class="burger-nav" id="burger-nav">
          <ul class="burger-menu">
            <li id="close">&times;</li>
            <li><a href="#">About us</a></li>
            <hr>
            <li><a href="#">Corporate philosophy</a></li>
            <hr>
            <li><a href="#">Our services</a></li>
            <hr>
            <li><a href="#">News and media</a></li>
            <hr>
            <li><a href="#">Blog</a></li>
            <hr>
            <li><a href="#">Contact us</a></li>
          </ul>
        </nav>
        <img src="../images/menu_icon.png" alt="menu-icon" class="menu-icon" id="menu-icon"/>
  </header>

<div class="helper-padding"></div>

<div id="slider-container">
  <img src="../images/ndubisi-kanu-park/test(1).png" alt="slider-images" id="slider">
</div>

<section class="block-container">
  <div class="display-block block2"><p class="block-text">We train and establish world class marching bands in secondary schools.</p>
</div>
  <div class="display-block block3"><p class="block-text">We leave your guests in awe with our unique performances.  <a href="#" class="font-size"> <br> (find out more)</a></p>
</div>
  <div class="display-block block4"> <p class="block-text">Let us give your brand the attention it deserves and drive your sales up! <a href="#" class="font-size"> <br> (find out more)</a></p>
</div>
  <div class="display-block block5"> <p class="block-text">We are unique in craft, unrivalled in ability and wholesome in delivery.<a href="#" class="font-size"> <br>(find out more)</a></p>
</div>
</section>


  <footer>

  </footer>
    <script src="../js/main.js"></script>
</body>
</html>