<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <title>SB | Welcome</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../../template/images/favicon.png" class="favicon" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../template/css/reset.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../template/css/main.css" />

</head>

<body>
  <header class="fixed-header clearfix">

    <div class="clearfix logo-container">
      <a href="../html/index.html">
        <img src="../images/logo.png" alt="silverlinebandLogo" title="logo" class="logo">
      </a>
    </div>

    <p class="sitename">
      silverline-band
    </p>
    <p class="sitenameTwo">
      sb
    </p>

    <nav class="main-nav clearfix">
      <ul class="clearfix">
        <li><a href="#">about</a></li>
        <li><a href="#">corporate philosophy</a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">news and media</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </nav>

    <nav class="burger-nav" id="burger-nav">
      <ul class="burger-menu">
        <li id="close">&times;</li>
        <li><a href="#">About</a></li>
        <hr>
        <li><a href="#">Corporate philosophy</a></li>
        <hr>
        <li><a href="#">Services</a></li>
        <hr>
        <li><a href="#">News and media</a></li>
        <hr>
        <li><a href="#">Blog</a></li>
        <hr>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <img src="../images/menu_icon.png" alt="menu-icon" class="menu-icon" id="menu-icon" />

  </header>

  <div class="helper-padding"></div>

  <div id="slider-container">
    <img src="../images/next.png" alt="next-Icon" id="next">
    <img src="../images/previous.png" alt="previous-Icon" id="previous">
    <img src="../images/ndubisi-kanu-park/test(1).png" alt="slider-images" id="slider">
  </div>

  <section class="block-container">

    <div class="display-block">
      <p class="block-text black-shade">We train and establish world class marching bands in secondary schools.</p>
      <img src="../images/block2.png" alt="display-blocks" class="displaybg">
    </div>

    <div class="display-block">
      <p class="block-text">We leave your guests in awe with our unique performances. <br> <a href="#" class="read-more">
          (More info)</a></p>
      <img src="../images/block3.png" alt="display-blocks" class="displaybg">
    </div>

    <div class="display-block">
      <p class="block-text">Let us give your brand the attention it deserves and drive your sales up! <br> <a href="#"
          class="read-more">
          (More info)</a></p>
      <img src="../images/block4.png" alt="display-blocks" class="displaybg">
    </div>

    <div class="display-block">
      <p class="block-text">We are unique in craft, unrivalled in ability and wholesome in delivery. <br> <a href="#"
          class="read-more">
          (More info)</a></p>
      <img src="../images/block5.png" alt="display-blocks" class="displaybg">
    </div>

  </section>


  <footer id="footer">

    <div class="logo-footer-container">
      <img src="../images/logo.png" alt="connect" class="logo-footer">
    </div>

    <div>
      <p class="sb-footer sb">Silverline-band</p>
      <p class="sb-footer followus">Follow us</p>
    </div>

    <section class="social-media-container">
      <a href="#"> <img src="../images/facebook.png" alt="connect" class="social-media"></a>
      <a href="#"> <img src="../images/instagram.png" alt="connect" class="social-media"></a>
      <a href="#"><img src="../images/twitter.png" alt="connect" class="social-media"></a>
      <a href="#"> <img src="../images/Youtube.png" alt="connect" class="social-media"></a>
      <a href="#"> <img src="../images/email.png" alt="connect" class="social-media"></a>
    </section>

    <section class="quick-links-container">
      <ol class="quick-links">
        <li><a href="#" class="terms">Services</a></li>
        <li><a href="#" class="terms">Corporate Philosophy</a></li>
        <li><a href="#" class="terms">Blog</a></li>
        <li><a href="#" class="terms">Contact</a></li>
      </ol>
    </section>
<hr>
    <section class="centerElement">
    <label><a href="#" class="terms">Terms & Conditions</a> <span class="terms"> | </span>  <a href="#" class="terms">Privacy Policy</a></label>
    <br>
    <label > <a href="#" class="terms">&copy; SB 2018</a></label>
      </section>
  </footer>
  <script src="../js/main.js"></script>
</body>

</html>