<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SB | Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../template/images/favicon.png" class="favicon"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../template/css/reset.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../template/css/main.css" />

</head>
<body>
  <header class="fixed-header clearfix">

    <div class="clearfix">
      <img src="../images/favicon.png" alt="silverlinebandLogo" title="logo" class="logo">
    </div>

    <p class="sitename">
      silverline-band
    </p>

    <nav class="main-nav clearfix">
      <ul class="clearfix">
        <li>about us</li>
        <li>corporate philosophy</li>
        <li>our services</li>
        <li>news and media</li>
        <li>blog</li>
        <li>contact us</li>
      </ul>
    </nav>

  </header>

<div class="helper-padding"></div>

<div id="slider-container">
  <img src="../images/ndubisi-kanu-park/test(1).jpg" alt="slider-images" id="slider">
</div>

<section class="block-container">
  <div class="display-block">2</div>
  <div class="display-block">3</div>
  <div class="display-block">4</div>
  <div class="display-block">5</div>
</section>


  <footer>

  </footer>
    <script src="../js/main.js"></script>
</body>
</html>