/*---------------GENERAL STYLES--------------*/

.helper-padding{
  margin-top: 70px;
}
a{
  outline: none;
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
/*----------------LANDING PAGE---------------*/
/*--NAV MENU--*/
.menu-icon{
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 50px;
}
.menu-icon:hover{
  cursor: pointer;
}
.menu-icon:active{
  width: 22px;
  height: 22px;
}

.favicon{
  width: 16px;
  height: 16px;
}
.fixed-header div.clearfix{
  margin-right: 20px;
}
.logo{
  width: 50px;
  height: 50px;
}
.theme-color{
  background: #162661;
}
.fixed-header{
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  background: rgb(255, 255, 255);
}
.burger-nav{
  display: none;
}
.fixed-header div{
  float: left;
  background: #162661;
  width: 2em;
  height: 2em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 1em;
}

.main-nav ul, .main-nav {
  float: left;
}
.main-nav {
  float: right;
}

.main-nav ul, .sitename, .menu-icon{
  margin: 25px auto 0 auto;
}

.main-nav ul li{
  font-size: 12pt;
  margin: 5px;
  display: inline-block;
  color: grey;
  text-transform: capitalize;
}
.main-nav ul:last-child{
  padding-right: 40px;
}
.main-nav ul:first-child{
  padding-left: 20px;
}
.main-nav ul li:hover{
  color: #162661;
  cursor: pointer;
  border-bottom: 2px solid #162661;
}

#slider{
  position: fixed;
  width: 100%;
  z-index: -1;
}

.display-block{
  background: rgb(255, 255, 255);
  height: 700px;
  padding: 1em;
}

.block-container{
  z-index: 1;
  padding-top: 55%;
}

.sitename{
  float: left;
  color: #162661;
  text-transform: uppercase;
  font-weight: bolder;
}

/*--------------BLOCKS--------------*/
.block2 {
  background: url("../images/marching_band.png");
  background-size: cover;
}
.block3 {
  background: url("../images/mace.jpg");
  background-size: cover;
}
.font-size{
  font-size: 40%;
  color: rgb(173, 211, 255);
}
.block4 {
  background: url("../images/brand.png");
  background-size: cover;
}
.block5 {
  background: url("../images/brag.png");
  background-size: cover;
}
.block-text{
  font-size: 200%;
  font-weight: bolder;
  color: white;
  text-transform: capitalize;
  text-align: center;
  width: 70%;
  margin: 2em auto 0 auto;
}
/*--------------FOOTER--------------*/
footer{
  background: rgb(46, 46, 46);
  width: 100%;
  height: 500px;
}

/*--------------MEDIA QUERIES--------------*/

@media(max-width: 1000px){
  .menu-icon{
    display: inline-block;
  }
  .fixed-header .main-nav{
    display: none;
  }
  .fixed-header .burger-nav{
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    right: -10000em;
    top: 70px;
    padding-bottom: 20em;
    transition-duration: 0.2s;
    transition-property: top;
    transition-property: right;
    transition-timing-function: ease-in-out;
  }
  .fixed-header .burger-nav li a:hover{
    transition-duration: 0.3s;
    transition-property: padding;
    transition-timing-function: ease-in-out;
  }
  .fixed-header .burger-nav li a:hover{
    color: #162661;
    padding: 0 0 0 3px;
  }
  .fixed-header .burger-nav li:first-child{
    width: 1em;
    margin: 0 auto;
    font-size: 1.5em;
  }
  .fixed-header .burger-nav li:first-child:hover{
    text-shadow: 1px 1px 1px rgb(83, 82, 82);
    cursor: pointer;
  }
}















