/*---------------GENERAL STYLES--------------*/
.helper-padding{
  margin-top: 70px;
}
a{
  outline: none;
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
/*----------------LANDING PAGE---------------*/
/*--NAV MENU--*/
.favicon{
  width: 16px;
  height: 16px;
}
.fixed-header div.clearfix{
  margin-right: 20px;
}
.logo{
  width: 50px;
  height: 50px;
}

.fixed-header{
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  background: rgb(255, 255, 255);
}
.burger-nav{
  display: none;
}
.fixed-header div{
  float: left;
  background: #162661;
  width: 2em;
  height: 2em;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 1em;
}

.main-nav ul, .main-nav {
  float: left;
}
.main-nav {
  float: right;
}

.main-nav ul, .sitename{
  margin: 25px auto 0 auto;
}

.main-nav ul li{
  font-size: 12pt;
  margin: 5px;
  display: inline-block;
  color: grey;
  text-transform: capitalize;
}
.main-nav ul:last-child{
  padding-right: 50px;
}
.main-nav ul:first-child{
  padding-left: 20px;
}
.main-nav ul li:hover{
  color: #162661;
  cursor: pointer;
  border-bottom: 2px solid #162661;
}

#slider{
  position: fixed;
  width: 100%;
  z-index: -1;
}

.display-block{
  background: rgb(76, 138, 209);
  height: 700px;
}

.block-container{
  z-index: 1;
  padding-top: 55%;
}

/* #slider-container{
  width: 100%;
  background: url("../images/ndubisi-kanu-park/test(1).png");
  height: 1000px;
  background-size: cover;
} */

.sitename{
  float: left;
  color: #162661;
  text-transform: uppercase;
  font-weight: bolder;
}
/*--------------BLOCK 2--------------*/
.block2{
  background-size: contain;
}

footer{
  background: grey;
}
@media(max-width: 1000px){
  .fixed-header .main-nav{
    display: none;
  }
  .fixed-header .burger-nav{
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  right: 0;
  top: 70px;
  padding-bottom: 5em;
  }
.fixed-header .burger-nav li:first-child{
  width: 1em;
  margin: 0 auto;
  font-size: 1.5em;
}
}
